body {
  overscroll-behavior: none;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(57.84deg, #B7D3FF -6.8%, #C1D9FF 29.9%, #E5F8FF 108.49%);
  overflow: hidden;
  overscroll-behavior: none;
}
