@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#topRectangle {
    position: relative;
    width: 45vw;
    /* padding-top: 41.4vw; */
    /* width: 682px; */
    /* height: 741px; */
    height: 48.6vw;
    margin: 0 auto;
    /* left: 383px;
    top: 116px; */

    background: rgba(255, 255, 255, 0.9);
    border-radius: 4.36% / 4.02%;
}

#postImage {
    position: absolute;
    width: 100%;
    /* width: 682px; */
    /* height: 557px; */
    left: 0px;
    top: -6px;
}

#authorContainer {
    position: absolute;
    /* width: 201px; */
    width: 29.4%;
    height: 9.04%;
    /* height: 67px; */
    left: 67.4%;
    top: 69.8%;

    background: linear-gradient(251.4deg, #56A190 31.02%, #2C5241 106.95%);
    border-radius: 14.93%/44.78%;
}

#authorName {
    position: relative;

    margin-top: 20px;
    margin-left: 83px;

    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: clamp(10px, calc(10px + (18px - 10px) * ((100vw - 300px) / (1600px - 300px))), 18px);
    /* font-size: 18px; */
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    
}

#authorProfile {
    margin-left: 15px;
    margin-top: 11px;
}