@use "sass:list";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$contRectW: 682px;
$contRectH: 747px;
$contRectLeft: 383px;
$contRectTop: 110px;

$authContW: 201px;
$authContH: 67px;
$authContLeft: 850px;
$authContTop: 633px;

$authNameW: 120px;
$authNameH: 41px;
$authNameLeft: 931px;
$authNameTop: 646px;
$authNameFntSz: 18px;

$profileImgW: 46px;
$profileImgLeft: 858px;
$profileImgTop: 644px;

$border-radius: 30px;
$border-radiusW: (($border-radius / $authContW) * 100%);
$border-radiusH: (($border-radius / $authContH) * 100%);

@media only screen and (max-width: 682px) {
  #containerRect {
    /* (container rectangle width (688px)  / macbook width (1512px)) */
    /* width: 45.5vw; */
    width: 100vw;
    /* container rectangle height (747px) / container rectangle width (688px) */
    height: 108vw;
    /* container rectangle height (747px) / macbook width (1512px)*/
    /* height: 49.4vw; */
    /* Justification: https://stackoverflow.com/questions/29966499/border-radius-in-percentage-and-pixels-px-or-em

    (border-radius (30px) / container rectangle width (688px)) / (border-radius (30px) / container rectangle height (747px)) */
  }
  #authorContainer {
    /* author container width (201px) / container rectangle width (682px) */
    /* width: calc(100% * var(--authorContW) / var(--contW)); */
    width: ($authContW / $contRectW) * 100%;
    /* author container height (67px) / container rectangle height (747px) */
    height: ($authContH / $contRectH) * 100%;
    /* relative left position from container rectangle (460px) / container rectangle width (682px) */
    // left: 67.4%;
    left: (($authContLeft - $contRectLeft) / $contRectW) * 100vw;
    /* relative top positioning from container rectangle (523px) / container rectangle height (747px) */
    // top: 70.01%;
    top: (($authContTop - $contRectTop) / $contRectW) * 100vw;
    /* (border-radius (30px) / author container width (201px)) / (border-radius (30px) / author container height (67px)) */
    // border-radius: 14.93%/44.78%;
    // border-radius: $border-radiusW / $border-radiusH;
    // border-radius: list.join(20%, '/', 40%);
    /* https://stackoverflow.com/questions/4988944/how-to-prevent-division-when-using-variables-separated-by-a-slash-in-css-propert */
    border-radius: #{$border-radiusW}/#{$border-radiusH};
  }
  #profileImg {
    width: ($profileImgW / $authContW) * 100%;
    /* relative positioning of image to closest relative parent--container rect */
    left: (($profileImgLeft - $authContLeft) / $authContW) * 100%;
    top: (($profileImgTop - $authContTop) / $authContH) * 100%;
  }
  #authorName {
     /* margin-left (81px) / author container width (201px) */
    // left: 40.3%;
    left: (($authNameLeft - $authContLeft) / $authContW) * 100%;
    /* margin-top (13px) / author container width */
    /* https://stackoverflow.com/questions/18331716/css-position-with-percent */
    // top: 6.47%;
    // top: (($authNameTop - $authContTop) / $authContH) * 100%;
    /* font-size: clamp(10px, calc(10px + (18px - 10px) * ((100vw - 300px) / (1600px - 300px))), 18px); */
    /* font size (18px) / big container width (682px) */
    // font-size: 2.64vw;
    font-size: ($authNameFntSz / $contRectW) * 100vw;
    line-height: (67px / $contRectW) * 100vw;
    width: (201px / $contRectW) * 100vw;
    height: (67px / $contRectW) * 100vw;
  }
}



/* sets feed box to stay same as long as screen width is at least as great as it. */
@media only screen and (min-width: 682px) {
  #containerRect {
    /* (container rectangle width (688px)  / macbook width (1512px)) */
    width: $contRectW;
    /* container rectangle height (747px) / macbook width (1512px)*/
    height: $contRectH;
    /* (border-radius (30px) */
    border-radius: $border-radius;
  }
  #authorContainer {
    /* author container width (201px) */
    width: $authContW;
    /* author container height (67px) */
    height: $authContH;
    /* relative left position from container rectangle (460px) */
    left: $authContLeft - $contRectLeft;
    /* relative top positioning from container rectangle (523px)*/
    top: $authContTop - $contRectTop;
    /* (border-radius (30px)) */
    border-radius: $border-radius;
  }
  #profileImg {
    width: $profileImgW;
    /* relative positioning of image to direct parent */
    left: $profileImgLeft - $authContLeft;
    top: $profileImgTop - $authContTop;
  }
  #authorName {
    /* margin-top (13px) */
    // top: $authNameTop - $authContTop;
    // /* margin-left (81px) */
    // // left: 81px;
    left: $authNameLeft - $authContLeft;
    /* font-size: clamp(10px, calc(10px + (18px - 10px) * ((100vw - 300px) / (1600px - 300px))), 18px); */
    /* font size (18px) / author container width */
    /* font-size: 18px; */
    font-size: $authNameFntSz;

    line-height:67px;
    width:201px;
    height:67px;
    font-size:18px;

  }
}

/* rounded rectangle that holds a post */
#containerRect {
  position: relative;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
}
/* artwork post */
#postImage {
  /* parent is relative */
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}
/* rounded container that contains author img and name */
#authorContainer {
  position: absolute;
  background: linear-gradient(251.4deg, #56A190 31.02%, #2C5241 106.95%);
}
#profileImg {
  position: absolute;
}
/* name of author */
#authorName {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  // line-height: 22px;
   // vertically centers text
    margin-top: auto;
    margin-bottom: auto;
}

/* 
#authorProfile {
    margin-left: 15px;
    margin-top: 11px;
} */
/*# sourceMappingURL=FeedPost.css.map */