@use "sass:list";

$intro-line-height: 77px;
$intro-top: 32px;
$belt-top: 34px;
$belt-height: 550px;

#Landing {

    overflow-x: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: white;

    .text-gradient {
        // Technically, it is not possible to set a gradient as the color of a text, so we use the background-image property.
        background-image: linear-gradient(
            225.34deg,
            rgba(173, 0, 255, 0.459) 0%,
            rgba(219, 0, 255, 0.85) 46.35%,
            rgba(160, 0, 255, 0.85) 65.1%,
            rgba(51, 0, 255, 0.85) 100%
        );
        // This makes sure that the background "sticks" to the text.
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        // This finally sets the text's initial color to transparent, so that the gradient is clearly seen.
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        // See: https://fossheim.io/writing/posts/css-text-gradient/
    }

    .text-white {
        color: white;
    }

    #intro-text {
        font-family: Inter;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        // line-height: 77px;
        align-items: center;
        color: #000000;

        margin-top: 32px;
        
    }

    #belt-div {
        position: relative;
        height: 550px;
        top: 34px;
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        width: 9639px;
    }

    #belt {
        position: relative;
        height: 550px;
        // left: -620px;
    }

    #scroll-left-div {
        position: absolute;
        left: 0;
        top: $intro-line-height + $intro-top + $belt-top;
        width: 20%;
        height: $belt-height;
    }

    #scroll-right-div {
        position: absolute;
        right: 0;
        top: $intro-line-height + $intro-top + $belt-top;
        width: 20%;
        height: 550px;
    }

    #button-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
    }

    .login-signup {
        width: 192px;
        height: 93px;
        border-radius: 12px;

        background-image: linear-gradient(
            225.34deg,
            rgba(173, 0, 255, 0.459) 0%,
            rgba(219, 0, 255, 0.85) 46.35%,
            rgba(160, 0, 255, 0.85) 65.1%,
            rgba(51, 0, 255, 0.85) 100%
        );

        border: solid 3px transparent;
        background-origin: border-box;

        font-size: 24px;
        font-weight: bold;
        font-family: Inter;
    }

    #login-button {
        box-shadow: 2px 1000px 1px #fff inset;
    }

    #logo-div {
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        left: 36px;
        bottom: 34px;
    }

    #logo-div > div {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        font-size: 36px;
    }


}