@use "sass:list";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


$baseRectW: 755px;
$baseRectH: 982px;
#Login {
    text-align: left;
    display: flex;
    flex-direction: row;
}

#Login {
#loginRect {
    background-color: white;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgDiv {
    background-image: url("http://prod-upp-image-read.ft.com/e9a0d7ee-a1be-11e8-85da-eeb7a9ce36e4");
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 100vh;
    left: 400px;
}

form {
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 28px;
}

#welcomeText {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    margin-bottom: 61px;
    align-items: center;
    text-align: center;
}

#loginButton {
    position: relative;
    width: 392px;
    height: 67px;
    background: linear-gradient(225.34deg, rgba(173, 0, 255, 0.459) -26.34%, rgba(219, 0, 255, 0.85) 59.15%, rgba(160, 0, 255, 0.85) 93.73%, rgba(51, 0, 255, 0.85) 158.09%);
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    border: none;
}

#backColor {
    color: #de35ff;
    font-family: Inter;
}

input {
    position: relative;
    padding-left: 24px;
    width: 392px;
    height: 67px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

input::placeholder {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
}

@media screen and (max-width: 920px) {
    #imgDiv {
        display: none;
    }

    #loginRect {
        width: 100vw;
    }
}

@media screen and (max-width: 435px) {
    input, #loginButton {
        width: 90vw;
    }
}
}