#NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#NavBar .nav-link {
  -webkit-transition: color, 0.3s;
  transition: color, 0.3s;
}

#NavBar .nav-link:hover {
  color: #de35ff;
}

#NavBar #logo-div-2 {
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 312px;
  margin-left: 24px;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#NavBar #logo-div-2 > div {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

#NavBar #logo-img-2 {
  height: 51px;
}

#NavBar #middle-nav {
  font-weight: bold;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #BEBEBE;
}

#NavBar #button-div-2 {
  margin-right: 52px;
}

#NavBar #login-button {
  border: none;
  /* gets rid of small edges around border */
  width: 142px;
  background: none;
}

#NavBar #signup-button {
  width: 142px;
  height: 73px;
}

#NavBar #login-button, #NavBar #signup-button {
  -webkit-transition: 0.2s, -webkit-transform;
  transition: 0.2s, -webkit-transform;
  transition: transform, 0.2s;
  transition: transform, 0.2s, -webkit-transform;
}

#NavBar #login-button:hover, #NavBar #signup-button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 976px) {
  #NavBar #logo-div-2 {
    display: none;
  }
  #NavBar #middle-nav {
    display: none;
  }
  #NavBar #button-div-2 {
    display: none;
  }
  #NavBar #menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

#top-div {
  display: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}

#logo-img-top {
  height: 51px;
}

@media screen and (max-width: 976px) {
  #menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#menu-btn {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .5s, ease-in-out;
  transition: all .5s, ease-in-out;
}

.menu-btn-burger {
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  left: 0;
}

.menu-btn-burger::before, .menu-btn-burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px gray;
          box-shadow: 0 2px 5px gray;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-btn-burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

#menu-btn.open {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 0;
}

/* ANIMATION */
#menu-btn.open .menu-btn-burger {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#menu-btn.open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-btn.open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* ham menu nav repositioning */
.vertical {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  margin-right: 0 !important;
}

#NavBar #button-div-2.vertical {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#NavBar.vertical {
  position: absolute;
  width: 325px;
  background-color: white;
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 100px 2%;
  -webkit-box-shadow: 0 2px 5px rgba(140, 140, 140, 0.3);
          box-shadow: 0 2px 5px rgba(140, 140, 140, 0.3);
  left: 0;
}

@media screen and (max-width: 976px) {
  #NavBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  #logo-div-2 {
    width: 51px !important;
  }
  #top-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
  }
}

@media screen and (max-width: 575px) {
  #NavBar {
    width: 100% !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}
/*# sourceMappingURL=NavBar.css.map */