@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
#ViewPage {
  /* TODO: change name to text */
  /* #comments {
    overflow: scroll;
} */
}

#ViewPage #close {
  position: absolute;
  top: 0px;
  right: 50px;
}

#ViewPage #artView {
  width: 90.32967%;
  position: relative;
  /* margin-left: auto;
    margin-right: auto; */
}

#ViewPage .centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ViewPage #modal {
  width: 1317px;
  background: rgba(255, 250, 243, 0.9);
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#ViewPage .left {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* hor centers items */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 69.09643%;
  height: 100%;
  overflow-y: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* text-align: center; */
}

#ViewPage .right {
  position: relative;
  width: 30.90357%;
  height: 100vh;
  overflow: scroll;
}

#ViewPage .right * {
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
}

#ViewPage #artTitle {
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(0, 0, 0, 0.82);
  margin-bottom: 1.44267vw;
  margin-top: 1.21488vw;
  /* display: flex;
    align-items: center; */
}

#ViewPage .name {
  font-weight: bold;
  /* width: 110px; */
  margin-right: 8px;
  /* white-space: nowrap; */
  width: 130px;
  /* paddiing-left: auto; */
  /* flex-grow: 1; */
}

#ViewPage .commentText {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  margin-left: 10px;
  padding-right: 37px;
  /* https://stackoverflow.com/
    questions/1165497/how-to-prevent-text-from-overflowing-in-css
    */
  /* allows words to wrap when they reach edge of container */
  word-wrap: break-word;
}

#ViewPage #commentSec {
  width: 100%;
  position: relative;
}

#ViewPage .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#ViewPage .profileImg {
  width: 51px;
}

#ViewPage .profileImgDiv {
  width: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#ViewPage #description {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  width: 327px;
  word-wrap: break-word;
  margin-bottom: 26px;
}

#ViewPage #price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

#ViewPage #priceAndBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ViewPage #buyBtn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  width: 111px;
  height: 55.19px;
  background: rgba(0, 0, 0, 0.85);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border-radius: 12px;
  color: white;
  border: none;
}

#ViewPage #buyBtn:hover {
  background: gray;
}

#ViewPage #titleAndLike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ViewPage #like {
  position: relative;
  left: 250px;
  top: 16px;
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1317px) {
  #ViewPage #modal {
    width: 100vw;
  }
  #ViewPage #artTitle {
    font-size: 3.64465vw;
  }
  #ViewPage #description {
    font-size: 1.82232vw;
  }
  #ViewPage #price {
    font-size: 2.2779vw;
  }
  #ViewPage #like {
    left: 18.37509vw;
    width: 3.64465vw;
    top: 1.21488vw;
  }
  #ViewPage #buyBtn {
    font-size: 1.82232vw;
    width: 8.42825vw;
    height: 4.19058vw;
  }
}
/*# sourceMappingURL=ViewPage.css.map */