@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$leftW: 910px;
$modalW: 1317px;
$rightW: 407px;
$imageW: 822px;
$descrW: 322px;
$descrFontSz: 24px;
$titleFontSz: 48px;
$priceFontSz: 30px;
$buyFontSz: 24px;
$buyW: 111px;
$buyH: 55.19px;
$modalH: 982px;
$btnBorderRadius: 12px;
$breakpoint: 774px;
$iconSz: 60px;
$closeSz: 60px;


#ViewPage {

#close {
    position: absolute;
    top: 0px;
    right: 50px;
    width: $closeSz;
    height: $closeSz;
    z-index: 1;
}

#artView {
    width: 100% * $imageW / $leftW;
    // margin-top: 80px;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#modal {
    width: 1317px;
    background: rgba(255, 250, 243, 0.9);
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 100vh;
    /* sets padding for top and bottom, useful for long iPhones in horizontal */
    padding: 10px 0;
    /* ensures that cal for w and h take into account padding */
    /* https://stackoverflow.com/questions/485827/css-100-height-with-padding-margin */
    box-sizing: border-box;
}
.left {
    position: relative;
    margin: 0 auto;
    display: flex;
    /* hor centers items */
    align-items: center;
    flex-direction: column;
    width: 100% * $leftW / $modalW;
    height: 100%;
    height: auto;
    // overflow: scroll;
    // overflow-y: auto;
    justify-content: center;
    /* text-align: center; */
}

.right {
    position: relative;
    width: 100% * $rightW / $modalW;
    height: 100vh;
    overflow: scroll;
}
// sets default font sz 
.right * {
    // font-family: 'Inter';
    // font-style: normal;
    font-size: 18px;
}
@media screen and (max-height: 774px) {
   
    
}
#artTitle {
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: $titleFontSz;
    align-self: center;
    align-content: center;
    color: rgba(0, 0, 0, 0.82);
    margin-bottom: 100vw * 19px / $modalW;
    margin-top: 100vw * 16px / $modalW;

    /* display: flex;
    align-items: center; */
}

.name {
    font-weight: bold;
    /* width: 110px; */
    margin-right: 8px;
    /* white-space: nowrap; */
    width: 130px;
    /* paddiing-left: auto; */
    /* flex-grow: 1; */
}
/* TODO: change name to text */
.commentText {
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    // flex-shrink: 3;
    margin-left: 10px;
    padding-right: 37px;
    /* https://stackoverflow.com/
    questions/1165497/how-to-prevent-text-from-overflowing-in-css
    */
    /* allows words to wrap when they reach edge of container */
    word-wrap: break-word;
}

#commentSec {
    // width: 405px;
    width: 100%;
    position: relative;
    // display: grid;
    // grid-template-columns: 51px 319px;
    // // align-items: center;
    // grid-auto-rows: min-content;
    // align-items: start;
    // row-gap: 20px;
    margin-top: 80px;
    box-sizing: border-box;

}

.comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* #comments {
    overflow: scroll;
} */

.profileImg {
    width: 51px;
}

.profileImgDiv {
    width: 51px;
    display: flex;
    align-items: start;
}

// .commentDiv {
//     display: flex;
//     overflow: hidden;
//     // flex: 0.5;
// }

#description {
    font-family: 'Lato';
    // font-style: normal;
    font-weight: 300;
    font-size: 24px;
    // line-height: 29px;
    text-align: center;
    width: 327px;
    word-wrap: break-word;
    margin-bottom: 26px;
}

#price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

#priceAndBuy {
    display: flex;
    align-content: center;
    gap: 20px;
    align-items: center;
}

#buyBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    width: 111px;
    height: $buyH;
    background: rgba(0, 0, 0, 0.85);
    transition: background 0.5s;
    border-radius: $btnBorderRadius;  
    color: white;
    border:none;  
}

#buyBtn:hover {
    background: gray;
}

#titleLn {
    display: flex;
}
%absolute-icons {
    position: relative;
    top: 16px;
    width: 48px;
    height: 48px;
}
#commentIcon {
    // position: absolute;
    // left: 812px;
    // top: 64%;
    position: relative;
    @extend %absolute-icons;
    left: 250px;
}

#like {
    @extend %absolute-icons;
    right: 250px;
}

@media screen and (max-width: $modalW) {
    #modal {
        width: 100vw;
    }
    #artTitle {
        font-size: 100vw * $titleFontSz / $modalW;
    }
    #description {
        font-size: 100vw * $descrFontSz / $modalW;
    }
    #price {
        font-size: 100vw * $priceFontSz / $modalW;
    }
    // #priceAndBuy {
    //     gap: 20px / 
    // }
    #commentIcon {
        left: 100vw * 242px / $modalW;
        width: 100vw * 48px / $modalW;
        top: 100vw * 16px / $modalW;
        height: 100vw * 48px / $modalW;
    }
    #like {
        right: 100vw * 242px / $modalW;
        width: 100vw * 48px / $modalW;
        top: 100vw * 16px / $modalW;
        height: 100vw * 48px / $modalW;
    }
    #buyBtn {
        font-size: 100vw * $buyFontSz / $modalW;
        width: 100vw * $buyW / $modalW;
        height: 100vw * $buyH / $modalW;  
        border-radius: #{100% * $btnBorderRadius / $buyW}/#{100% * $btnBorderRadius / $buyH};
    }
}
@media screen and (max-width: $breakpoint) {
    // $modalW: 900px;

    #modal {     
        flex-direction: column; 
        border-radius: #{100% * 30px / $breakpoint}/#{100% * 30px / $breakpoint};
        height: auto;
        overflow: auto;
    }

    .right {
        overflow: unset;
    }

    #commentSec {
        margin-top: 0;
        height: auto;
        overflow: unset;
    }

    #close {
        width: 100vw * $closeSz / $breakpoint;
        height: 100vw * $closeSz / $breakpoint;
        min-width: 40px;
        min-height: 40px;
        /* centers close btn when small enough */
        left: 50vw;
        transform: translateX(-50%);
        transition: opacity 0.5s;
    }
    #artView {
    //    margin-top: 100% * 80px / $breakpoint;
    //    margin-top: 100% * 40px / $breakpoint;
    //    margin-top: 100% * 60px / $breakpoint;
    }
    .left {
        width: 100%;
        // overflow: auto;
        margin-bottom: 30px;
        margin-top: 45px;
    }
    .right {
        height: auto;
        width: 100%;

    }
    #modal {
        height: 100vh;
    }

    #artTitle {
        font-size: 100vw * $titleFontSz / 600px;
    }
    #description {
        font-size: 100vw * $descrFontSz / 600px;
        margin-bottom: 10px;
    }
    #price {
        font-size: 100vw * $priceFontSz / 600px;
    }
    // #priceAndBuy {
    //     gap: 20px / 
    // }

    %imgIcons {
        position: relative;
        width: 100vw * 60px / $breakpoint;
        height: 100vw * 60px / $breakpoint;
        top: 100vw * 16px / $modalW;
    }

    #like {
        @extend %imgIcons;
        right: 100vw * 242px / $modalW;
    }

    #commentIcon {
        @extend %imgIcons;
        left: 100vw * 242px / $modalW;
    }
    #priceAndBuy {
        flex-direction: column;
        gap: 10px;
    }
    #buyBtn {
        font-size: 100vw * $buyFontSz / 600px;
        width: 100vw * $buyW / 600px;
        height: 100vw * $buyH / 600px;  
        border-radius: #{100% * $btnBorderRadius / $buyW}/#{100% * $btnBorderRadius / $buyH};
    }
}
}