@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$default-font-size: 18px;
$left-w: 910px;
$eight-w: 407px;
$image-w: 822px;
$descr-w: 322px;
$modal-w: 1317px;
$modal-h: 982px;
$buy-w: 111px;
$buy-h: 55px;

$descr-font-size: 24px;
$title-font-size: 48px;
$title-font-weight: 400;
$title-margin-top: 16px;
$title-margin-bottom: 19px;
$price-font-size: 30px;
$price-font-weight: 600;
$buy-font-size: 24px;

$btn-border-radius: 12px;
$modal-border-radius: 30px;
$breakpoint: 774px;
$icon-size: 60px;
$close-btn-size: 60px;
$title-color: rgba(0, 0, 0, 0.82);
$absolute-icon-side-margin: 250px;
$icon-side-margin: 242px;

$weird-600px-denom: 600px;
$gap-bw-post-comments: 30px;
$top-spacing-for-close-btn: 45px;
$icon-top-from-post: 16px;
$descr-margin-bottom: 26px;
$descr-font-weight: 300;
$descr-w: 327px;
$buy-btn-w: 111px;
$second-icon-size: 48px;
$price-buy-gap-row: 20px;
$price-buy-gap-col: 10px;
$comment-separation: 20px;
$comment-sec-margin-top: 80px;
$profile-img-size: 51px;
$close-btn-right-pos: 50px;
$modal-ver-padding: 10px;
$comment-font-weight: 400;
$comment-font-size: 16px;
$space-bw-profile-comment-text: 10px;

$comment-text-padding-right: 37px;
$comment-name-right-gap: 8px;


#ViewPage {
    //removes scrollbar, but keeps functionality for a cleaner look
    // see: https://w3schools.com/howto/howto_css_hide_scrollbars.asp
    /* Hide scrollbar for Chrome, Safari and Opera */
    *::-webkit-scrollbar {
        display: none;
      }
    * {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

#close-btn {
    position: absolute;
    top: 0px;
    right: $close-btn-right-pos;
    width: $close-btn-size;
    height: $close-btn-size;
    // puts it on top so it is visible above modal
    z-index: 1;
}

#artView {
    width: 100% * $image-w / $left-w;
    // margin-top: 80px;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#modal {
    width: $modal-w;
    background: rgba(255, 250, 243, 0.9);
    border-radius: $modal-border-radius;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 100vh;
    /* sets padding for top and bottom, useful for long iPhones in horizontal */
    padding: $modal-ver-padding 0;
    /* ensures that cal for w and h take into account padding */
    /* https://stackoverflow.com/questions/485827/css-100-height-with-padding-margin */
    box-sizing: border-box;
}
.left {
    position: relative;
    margin: 0 auto;
    display: flex;
    /* hor centers items */
    align-items: center;
    flex-direction: column;
    width: 100% * $left-w / $modal-w;
    height: 100%;
    height: auto;
    // overflow: scroll;
    // overflow-y: auto;
    justify-content: center;
    /* text-align: center; */
}

.right {
    position: relative;
    width: 100% * $eight-w / $modal-w;
    height: 100%;
    overflow: auto;
    // box-sizing: border-box;
}
// sets default font sz 
.right * {
    // font-family: 'Inter';
    // font-style: normal;
    // box-sizing: border-box;
    font-size: $default-font-size;
}
// @media screen and (max-height: 774px) {
   
    
// }
#artTitle {
    text-align: center;
    font-family: Lato;
    font-weight: $title-font-size;
    font-size: $title-font-size;
    align-self: center;
    align-content: center;
    color: $title-color;
    margin-bottom: 100vw * $title-margin-bottom / $modal-w;
    margin-top: 100vw * $title-margin-top / $modal-w;

    /* display: flex;
    align-items: center; */
}

.comment-name {
    font-weight: bold;
    // spacing between name of commenter and the text of their comment
    margin-right: $comment-name-right-gap;
    /* white-space: nowrap; */
    // width: 130px;
    /* paddiing-left: auto; */
    /* flex-grow: 1; */
}
/* TODO: change comment-name to text */
.commentText {
    font-weight: $comment-font-weight;
    text-align: left;
    font-size: $comment-font-size;
    // flex-shrink: 3;
    margin-left: $space-bw-profile-comment-text;
    // sets gap bw comment and right edge of modal. is added for aesthetic purposes. 
    padding-right: $comment-text-padding-right;
  
    /* allows words to wrap when they reach edge of container */
      /* see: https://stackoverflow.com/
    questions/1165497/how-to-prevent-text-from-overflowing-in-css
    */
    word-wrap: break-word;
}

#commentSec {
    // width: 405px;
    width: 100%;
    position: relative;
    // display: grid;
    // grid-template-columns: 51px 319px;
    // // align-items: center;
    // grid-auto-rows: min-content;
    // align-items: start;

    margin-top: $comment-sec-margin-top;
    box-sizing: border-box;

   
    display: flex;
    flex-direction: column;
    // sets gap between comments
    gap: $comment-separation;
}

.comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* #comments {
    overflow: scroll;
} */

.profileImg {
    width: $profile-img-size;
}

.profileImgDiv {
    width: $profile-img-size;
    display: flex;
    align-items: start;
}

// .commentDiv {
//     display: flex;
//     overflow: hidden;
//     // flex: 0.5;
// }

#description {
    font-family: Lato;
    // font-style: normal;
    font-weight: $descr-font-weight;
    font-size: $descr-font-size;
    // line-height: 29px;
    text-align: center;
    width: $descr-w;
    word-wrap: break-word;
    margin-bottom: $descr-margin-bottom;
}

#price {
    font-family: Lato;
    font-weight: $descr-font-weight;
    font-size: $price-font-size;
}

#price-and-buy {
    display: flex;
    align-content: center;
    gap: $price-buy-gap-row;
    align-items: center;
}

#buy-btn {
    font-weight: bold;
    font-size: $buy-font-size;
    width: $buy-btn-w;
    height: $buy-h;
    background: rgba(0, 0, 0, 0.85);
    transition: background 0.5s;
    border-radius: $btn-border-radius;  
    color: white;
    border:none;  
}

#buy-btn:hover {
    background: gray;
}

#titleLn {
    display: flex;
}
%absolute-icons {
    position: relative;
    top: $icon-top-from-post;
    width: $second-icon-size;
    height: $second-icon-size;
}

#comment-icon {
    // position: absolute;
    // left: 812px;
    // top: 64%;
    position: relative;
    @extend %absolute-icons;
    left: $icon-side-margin;
}

#like-icon {
    @extend %absolute-icons;
    right: $icon-side-margin;
}

@media screen and (max-width: $modal-w) {
    #modal {
        width: 100vw;
    }
    #artTitle {
        font-size: 100vw * $title-font-size / $modal-w;
    }
    #description {
        font-size: 100vw * $descr-font-size / $modal-w;
    }
    #price {
        font-size: 100vw * $price-font-size / $modal-w;
    }
    // #price-and-buy {
    //     gap: 20px / 
    // }
    // common code for scaling icons dynamically when screen is smaller than modal-w
    %icons-first-breakpoint-pos {
        width: 100vw * $second-icon-size / $modal-w;
        top: 100vw * $icon-top-from-post / $modal-w;
        height: 100vw * $second-icon-size / $modal-w;
    }
    #comment-icon {
        @extend %icons-first-breakpoint-pos;
        left: 100vw * $icon-side-margin / $modal-w;
    }
    #like-icon {
        @extend %icons-first-breakpoint-pos;
        right: 100vw * $icon-side-margin / $modal-w;
    }
    #buy-btn {
        font-size: 100vw * $buy-font-size / $modal-w;
        width: 100vw * $buy-w / $modal-w;
        height: 100vw * $buy-h / $modal-w;  
        border-radius: #{100% * $btn-border-radius / $buy-w}/#{100% * $btn-border-radius / $buy-h};
    }
}
// when screen is small, moves comment sec to below post so that post is large enough
@media screen and (max-width: $breakpoint) {
    // $modal-w: 900px;

    #modal {     
        flex-direction: column; 
        border-radius: #{100% * $modal-border-radius / $breakpoint}/#{100% * $modal-border-radius / $breakpoint};
        height: auto;
        overflow: auto;
    }

    .right {
        overflow: unset;
    }

    #commentSec {
        margin-top: 0;
        height: auto;
        // sets overflow to its default, which is no scroll
        //TODO: understand why I need this.
        overflow: unset;
    }

    #close {
        width: 100vw * $close-btn-size / $breakpoint;
        height: 100vw * $close-btn-size / $breakpoint;
        // min-width: 40px;
        // min-height: 40px;
        /* centers close btn when screen is very small (for mobile) */
        left: 50vw;
        transform: translateX(-50%);
        /* animates close btn on close */
        transition: opacity 0.5s;
    }
    #artView {
    //    margin-top: 100% * 80px / $breakpoint;
    //    margin-top: 100% * 40px / $breakpoint;
    //    margin-top: 100% * 60px / $breakpoint;
    }
    .left {
        width: 100%;
        // overflow: auto;
        // gap bw post and comment sec for vertical positioning
        margin-bottom: $gap-bw-post-comments;
        margin-top: $top-spacing-for-close-btn;
    }
    .right {
        height: auto;
        width: 100%;

    }
    #modal {
        height: 100vh;
    }

    #artTitle {
        //TODO: use constants
        font-size: 100vw * $title-font-size / 600px;
    }
    #description {
        font-size: 100vw * $descr-font-size / 600px;
        margin-bottom: 10px;
    }
    #price {
        font-size: 100vw * $price-font-size / 600px;
    }
    // #price-and-buy {
    //     gap: 20px / 
    // }

    // sets the dynamic resizing for like and comment icons 
    %dynamic-pos-icons {
        position: relative;
        width: 100vw * $icon-size / $breakpoint;
        height: 100vw * $icon-size / $breakpoint;
        top: 100vw * $icon-top-from-post / $modal-w;
    }

    #like-icon {
        @extend %dynamic-pos-icons;
        right: 100vw * $icon-side-margin / $modal-w;
    }

    #comment-icon {
        @extend %dynamic-pos-icons;
        left: 100vw * $icon-side-margin / $modal-w;
    }
    #price-and-buy {
        flex-direction: column;
        gap: $price-buy-gap-col;
    }
    #buy-btn {
        font-size: 100vw * $buy-font-size / $weird-600px-denom;
        width: 100vw * $buy-w / $weird-600px-denom;
        height: 100vw * $buy-h / $weird-600px-denom;  
        border-radius: #{100% * $btn-border-radius / $buy-w}/#{100% * $btn-border-radius / $buy-h};
    }
}
}