@use "sass:list";
#Landing {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Landing #navbar {
  height: 10px;
}

#Landing #intro-text {
  font-weight: 800;
  font-size: 6.51731vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin: 3.25866vh 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#Landing #belt-div {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1.222vh;
          column-gap: 1.222vh;
}

#Landing .belt {
  position: relative;
  height: 100%;
}

#Landing #scroll-left-div {
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  top: 0;
}

#Landing #parent-div {
  width: 100vw;
  position: relative;
  max-height: 1200px;
  min-height: 20vw;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#Landing #scroll-right-div {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
}

#Landing #join-lasco-button {
  margin: 0 auto;
  margin-top: 5.09165vh;
  margin-bottom: 5.09165vh;
  height: 10.38697vh;
  width: 27.49491vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 3.36049vh;
  border-radius: 2.03666vh;
  -webkit-transition: 0.2s, -webkit-transform;
  transition: 0.2s, -webkit-transform;
  transition: transform, 0.2s;
  transition: transform, 0.2s, -webkit-transform;
}

#Landing .login-signup {
  height: 100%;
}

#Landing #logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2.24868vh;
  left: 2.38095vw;
}

#Landing #join-lasco-button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  min-width: 150px;
  max-width: 270px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

#Landing #logo-div > div {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

#Landing #logo-img {
  height: 51px;
}

@media screen and (max-height: 500px) {
  #Landing .login-signup {
    width: 38.4vh;
    border: solid 0.6vh transparent;
    border-radius: 6.25%/12.90323%;
    font-size: 4.8vh;
  }
  #Landing #logo-div > div {
    font-size: 7.2vh;
  }
  #Landing #logo-img {
    height: 10.2vh;
  }
  #Landing #button-div {
    height: 18.6vh;
  }
}

@media screen and (max-width: 809px) and (min-height: 500px) {
  #Landing #intro-text {
    margin: 10px 0;
  }
  #Landing #button-div {
    margin-top: 3.05499vh;
  }
  #Landing #logo-div {
    left: 50vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 1.12016vh;
  }
  #Landing #logo-div > div {
    font-weight: bold;
    text-align: center;
    font-size: 2.56619vh;
  }
  #Landing #logo-img {
    height: 3.63544vh;
  }
}
/*# sourceMappingURL=Landing.css.map */